<!DOCTYPE html>
<html>
<head>
    <title>Authentication</title>
</head>
<body>
<a href="/" style="font-size: 18px;">Main page</a><br><br>

<h2>Authentication</h2>
<a href="/" style="font-size: 18px;">Main page</a><br><br>

{% if msg %}
    <p>{{ msg }}</p>
{% endif %}

<form method="post" action="/auth">
    <label for="login">Login:</label><br>
    <input type="text" id="login" name="login"><br><br>

    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br><br>

    <input type="submit" value="Submit">
</form>

</body>
</html>
